{% extends "base.html" %}
{% load static %}

{% block left_button %}
  <form class="mui-form" action="/" method="get" id="back">
    <button class="mui-btn mui-btn--flat mui-btn--small mui-btn--grey" form="back">
      <div class="mui--text-subhead mui--text-light">
        <img src="{% static "back_unpressed.png" %}">
      </div>
    </button>
  </form>
{% endblock %}

{% block content %}
<div class="mui-container-fluid full">
  <br>
  <!-- TTS Panel-->
  <div class="mui-row">
    <form class="mui-form" action="/run/" method="get" id="submit">
      <div class="mui-col-xs-10 mui-col-sm-10 mui-col-xs-offset-1 mui-col-sm-offset-1">
        <div class="mui--text-subhead">
          Input the sentence you want me to say it:
        </div>
      </div>
      <div class="mui-col-xs-6 mui-col-sm-8 mui-col-xs-offset-1 mui-col-sm-offset-1">
        <div class="mui-textfield">
          <input type="text" name="words" value="{{ last_words }}">
        </div>
      </div>
      <div class="mui-col-xs-2 mui-col-sm-2">
        <input class="mui-btn mui-btn--primary" type="submit" value="Submit">
      </div>
    </form>
  </div>
  <!-- Control Panel-->
  <!--Forward button-->
  {% include "joystick.html" %} 
</div>
<!--<div id=debug>Debug: </div>-->

{% endblock %}
